@import url('https://fonts.googleapis.com/css?family=Caudex:700|RocknRoll One:400');

html{
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'RocknRoll One';
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  margin: 80px 0 0 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Caudex';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


:root{
  --text: #d9eaf7;
  --background: #050e15;
  --primary: rgb(134, 186, 228);
  --secondary: #182A39;
  --accent: #2d85cd;

  --temp: #080f15;

  --header-font: 'Caudex';
  --body-font: 'RocknRoll One';
}

.loader {
  --color: var(--secondary);
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.4vmin;
  --size-square: 3vmin;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.loader.visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

.loader.--6::before {
  width: 25px;
  height: 25px;
  background-color: var(--color);
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  transform: translate(-50%, -50%); /* This centers the loader */
  animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-6 {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  
  25% {
    transform: translate(calc(-50% + 25px), -50%);
  }
  
  50% {
    transform: translate(calc(-50% + 25px), calc(-50% + 25px));
  }
  
  75% {
    transform: translate(-50%, calc(-50% + 25px));
  }
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

nav-bar{
  position: fixed;
  top: 0;
  z-index: 10;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: visible;
  height: 50%;
}

.carousel-slide {
  display: none; /* Hide all slides by default */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-slide > div {
  margin-top: 10%;
}

.carousel-slide.active {
  display: block; /* Show the active slide */
  opacity: 1;
}

.carousel-control {
  position: absolute;
  color: var(--text);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.card-image{
  max-width: 400px;
  background-color: var(--background);
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.row span{
  margin: auto;
}
.card-image img{
  width: 70%;
  margin: 12px auto;
  border-radius: 10%;
}
.card-image div{
  text-align: center;
}
.card-container sl-card::part(header) {
  font-family: 'Caudex';
  font-size: 1.777rem;
  font-weight: bold;
}
.card-container sl-card::part(base) {
  background-color: var(--background);
  border: none;
}
.card-image div::part(body){
  font-size: 1.2rem;
}

sl-card:hover{
  box-shadow: 0px 0px 10px 10px rgba(24,42,57,1);
}